@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  width: 100vw;
  height: 60px;
  position: sticky;
  top: 0;
  padding: 3rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container a {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--gray-200);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: all 0.3s;
}

.container a > div {
  width: 50px;
  height: 1px;
  background: var(--gray-200);
  transition: transform 0.4s;
}

.container a:hover {
  color: var(--white);

  div {
    transform: translateX(1rem);
    background: var(--white);
  }
}

.container button {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--gray-200);
  background: transparent;
  border: 0;
  transition: color 0.3s;
}

.container button:hover {
  color: var(--white);
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
}

.nav.active {
  // -webkit-animation: fadeIn 0.5s ease-in alternate infinite;
  // -moz-animation: fadeIn 0.5s ease-in alternate infinite;
  // animation: fadeIn 0.5s ease-in alternate infinite;
  opacity: 1;
}

.nav ul li + li {
  margin-top: 0.5rem;
}

.nav ul li a {
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: var(--white);
}

@media (max-width: 768px) {
  .container a > div {
    display: none;
  }
}
