.work-card-light {
  width: 100%;
  padding: 2rem 2rem;
  background: var(--white);
  border-radius: 5px;
}

.work-card-dark {
  width: 100%;
  padding: 2rem 2rem;
  background: var(--gray-800);
  border: 1px solid var(--gray-600);
  border-radius: 5px;
}

.left-alignment {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.right-alignment {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.title-dark {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.08em;
  color: var(--white);
}

.title-light {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.08em;
  color: var(--gray-800);
}

.text-dark {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: -0.08em;
  color: var(--gray-300);
}

.text-light {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: -0.08em;
  color: var(--red-100);
}

.button-container-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.button-container-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.primary-dark {
  padding: 0.625rem 2rem;
  border: none;
  background: var(--white);
  border-radius: 5px;
}

.secondary-dark {
  padding: 0.625rem 2rem;
  border: none;
  background: transparent;
  color: var(--gray-300);
  border-radius: 5px;
}

.primary-light {
  padding: 0.625rem 2rem;
  border: 1px solid var(--red-100);
  color: var(--red-100);
  background: transparent;
  border-radius: 5px;
}

.secondary-light {
  padding: 0.625rem 2rem;
  border: none;
  background: transparent;
  color: var(--red-100);
  border-radius: 5px;
}

@media (max-width: 62rem) {
  .right-alignment,
  .left-alignment {
    text-align: center;
    align-items: center;
  }

  .button-container-right,
  .button-container-left {
    flex-direction: column;
    row-gap: 0.75rem;
  }

  .primary-dark,
  .primary-light,
  .secondary-dark,
  .secondary-light {
    width: 100%;
    padding: 1rem 1rem;
  }

  .secondary-light {
    color: var(--white);
    background: var(--gray-800);
  }

  .secondary-dark {
    border: none;
    background: transparent;
    border: 1px solid var(--gray-300);
    color: var(--gray-300);
  }
}
