#contact {
  width: 100vw;
  height: 50vh;

  @media (max-width: 768px) {
    height: auto;
  }
}

#contact .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  @media (max-width: 1600px) {
    padding: 0 2rem;
  }
}

#contact .container .title {
  h1 {
    font-size: 4.5rem;
    font-family: 'Etoile', sans-serif;
  }

  p {
    color: #707070;
    font-size: 1.125rem;
    margin-top: 10px;
  }
}

#contact .container .contact_methods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 4rem;

  .method {
    display: flex;
    align-items: center;
    transition: all 0.3s;

    a {
      font-size: 2.5rem;
    }

    &:hover {
      color: var(--base-color);
    }
  }

  .discord {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: var(--7xl);

    span {
      color: #a0a0a0;
      font-weight: 500;
    }

    div {
      display: flex;
      align-items: center;
      margin-top: var(--xl);

      svg {
        font-size: 1.125rem;
        margin-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    margin-bottom: var(--4xl);

    .method a {
      font-size: 2rem;
    }
  }
}
