@font-face {
  font-family: 'Etoile';
  src: url('/fonts/Etoile-Regular.ttf');
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: hsla(263, 73%, 75%, 1);
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.281);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --hue-1: 257;
  --hue-2: 47;
  --main-color-1: hsla(263, 56%, 60%, 1);
  --main-color-dark-1: hsla(263, 49%, 43%, 1);
  --main-color-2: hsla(223, 99%, 58%, 1)
  --bg-color: #FFF;
  --bg-color-1: hsla(0, 0%, 96%, 1);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --dark-color: #000;
  --heading-color: hsla(0, 0%, 27%, 1);
  --text-color-light: hsla(0, 0%, 100%, 1);
  --text-color-dark: hsla(0, 0%, 15%, 1);

  --section-padding: 7rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color-dark);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -7%;
  overflow-x: hidden;
}

:is(body, input, textarea, select, button) {
  font: 300 1rem "Epilogue", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

header.scrolled {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

.logo {
  margin-right: 1.5rem;
  width: 120px;
  height: 120px;
  line-height: 120px;
  transition: 0.3s;
  display: flex;
}

header.scrolled .logo {
  height: 80px;
  line-height: 80px;
}

.toggle-menu {
  padding: 1rem 0;
  height: 12px;
  width: 25px;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
  display: none;
}

.toggle-menu .bar {
  width: 100%;
  height: 2px;
  background-color: var(--heading-color);
  border-radius: 3px;
  position: absolute;

  &:first-child {
    top: 1rem;
    transition: top 0.2s 0.15s , transform 0.3s;
  }

  &:last-child {
    bottom: 1rem;
    transition: bottom 0.2s 0.15s , transform 0.3s;
  }
}

body.active .toggle-menu .bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: top 0.2s, transform 0.3s 0.1s;
}

body.active .toggle-menu .bar:last-child {
  bottom: 50%;
  transform: translateY(50%) rotate(45deg);
  transition: bottom 0.2s, transform 0.3s 0.1s;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.section {
  position: relative;
  padding: var(--section-padding) 0;
}

@media (max-width: 768px) {
  :root {
    --section-padding: 4.5rem;
  }

  header {
    height: 505px;
    max-height: 100px;
    overflow: hidden;
  }

  header.scrolled {
    height: 485px;
    max-height: 80px;
  }

  header nav {
    justify-content: space-between;
  }

  .bar {
    background: var(--text-color-light);
  }

  .toggle-menu {
    display: block;
  }

  body.active header {
    max-height: 505px;
    background: var(--dark-color);
  }
}