@font-face {
  font-family: 'Etoile';
  src: url('/fonts/Etoile-Regular.ttf');
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #2B67FE;
  --title-color: #000;
  --text-color: #33333;
  --body-color: #FDFDFD;

  --xs: 0.75rem;
  --sm: 0.875rem;
  --md: 1rem;
  --lg: 1.125rem;
  --xl: 1.25rem;
  --2xl: 1.5rem;
  --3xl: 1.75rem;
  --4xl: 2rem;
  --5xl: 2.25rem;
  --6xl: 3rem;
  --7xl: 4rem;

  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body, input, textarea, select, button {
  font: var(--regular) var(--md) "Raleway", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

main {
  margin-top: var(--7xl);
}