.landing {
  width: 100%;
  height: auto;
  margin-top: 4rem;

  .bio {
    font-size: 0.825rem;
    margin-top: 1rem;
    margin-left: 6rem;
  }
}

.landing .texts {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 800;
    font-size: 7rem;
    color: var(--dark-color);
    letter-spacing: -7%;
  }

  h1:nth-child(2) {
    margin-left: 3rem;
    margin-top: -20px;
  }

  h1:nth-child(3) {
    margin-left: 6rem;
    margin-top: -20px;
  }
}

.button-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 6rem;
}

@media (max-width: 768px) {
  .landing {
    .bio {
      margin-left: 0;
      text-align: center;
      font-size: 1rem;
      margin-top: 1.5rem;
    }
  }

  .landing .texts {
    h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    h1:nth-child(2) {
      margin-left: 0;
      margin-top: 0;
    }

    h1:nth-child(3) {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .button-container {
    flex-direction: column;
    row-gap: 10px;
    margin-left: 0;
    margin-top: 1.5rem;
    width: 100%;

    button {
      width: 100%;
    }
  }
}
