.landing {
  width: 100%;
  height: calc(100vh - 5rem);
  background: url("/images/landing.png") center;
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

    h1 {
      color: var(--gray-100);
      font-size: 3.75rem;
      line-height: 50px;
      text-align: center;
      font-weight: 900;
      font-family: 'Montserrat', sans-serif;
    }

    p {
      color: var(--gray-100);
      font-size: 1rem;
      text-align: center;
    }

    button {
      background: var(--orange-500);
      border: none;
      padding: 0.875rem 3rem;
      border-radius: 50px;
      font-weight: 600;
      text-transform: uppercase;
      transition: background 0.3s;

      &:hover {
        background: var(--orange-400);
      }
    }

    @media (max-width: 1900px) {
      width: 40%;
    }

    @media (max-width: 1400px) {
      width: 60%;
    }

    @media (max-width: 900px) {
      width: 100%;
      padding: 0 0.75rem;
    }
  }

  @media (max-width: 900px) {
    background: transparent;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2rem;

  h1 {
    color: var(--orange-500);
    font-weight: 1.875rem;
    font-weight: 700;
  }

  .content {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
  
    .feature {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      img {
        width: 48px;
        height: auto;
        margin-bottom: 1rem;
      }
      
      h3 {
        color: var(--gray-100);
        font-size: 1.125rem;
        font-weight: 600;
      }

      p {
        color: var(--gray-100);
        font-size: 0.875rem;
        width: 50%;
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .feature {
        background: var(--gray-900);
        margin-top: 1rem;
        padding: 1rem 1rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        h3 {
          margin-top: 10px;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}
