.main {
  width: 100vw;
  max-width: 70rem;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.main .dashboard {
  width: 100%;
  min-height: 15vh;
  /* margin-left: 4rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .dashboard .container {
  width: 100%;
  height: 100%;
}

.main .dashboard .container .works-box {
  width: 100%;
  background: var(--gray-800);
  border: 1px solid var(--gray-600);
  border-radius: 5px;
  padding: 2rem 2rem;
  margin-left: 4rem;
}

.main .dashboard .container .works-box .flex-row {
  /* width: 90%; */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.sidebar {
  overflow-x: hidden;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.sidebar .sidebar-links {
  width: 100%;
  margin-top: 0.75rem;
}

.sidebar .sidebar-links ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.sidebar .sidebar-links .active {
  font-weight: 500;
  color: var(--white);
  font-weight: 1.125rem;
}

@media (max-width: 70rem) {
  .main {
    padding: 2rem 1rem;
  }

  .main .sidebar {
    left: 10%;
  }
}
