.header {
  width: 100vw;
  max-width: 70rem;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-icons svg {
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-icons svg:hover {
  color: var(--white);
}

.menu {
  background: transparent;
  border: none;
  display: block;
}

.menu .bar {
  width: 1.5rem;
  height: 3px;
  background: var(--gray-300);
}

.menu .bar:last-child {
  margin-top: 4px;
}

@media (max-width: 70rem) {
  .header {
    padding: 2rem 1rem;
  }
}
