.container {
  height: 5rem;
}

.headerContent {
  max-width: 1550px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    width: 100px;
    height: auto;      
  }
}