.container {
  width: 45%;
  height: 300px;
  padding: 16px 16px;
  margin-bottom: 48px;
  border-radius: 5px;
  background: var(--orange-500);
  cursor: pointer;
  position: relative;

  .footer {
    position: absolute;
    bottom: 25px;
    left: 25px;

    div {
      color: var(--background);
      text-transform: uppercase;

      &:nth-child(1) {
        font-weight: 700;
        font-size: 1rem;
      }

      &:nth-child(2) {
        font-weight: 600;
        font-size: 1.25rem;
      }
    }
  }
}
