#footer {
  width: 100%;
  height: auto;
  background: var(--title-color);
}

#footer .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem 0;
}

#footer .container .spacing {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

#footer .container .spacing .left {
  display: flex;
  flex-direction: column;

  span:nth-child(1) {
    color: #5c5c5c;
    text-transform: uppercase;
    font-weight: 600;
  }

  span:nth-child(2) {
    color: var(--body-color);
    font-size: 40px;
    font-weight: 700;
  }

  span:nth-child(3) {
    color: var(--body-color);
    margin-top: 3rem;
    transition: 0.4s all;

    &:hover {
      color: var(--base-color);
    }
  }
}

#footer .container .spacing .right {
  display: flex;
  align-items: center;
  gap: 1rem;

  .social_media_card {
    width: 48px;
    height: 48px;
    background: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;

    svg {
      color: var(--body-color);
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    margin-top: 3rem;
  }
}

#footer .container .copy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-color);
  margin-top: 2rem;
  padding-bottom: 0;

  span:first-child {
    font-family: 'Rock Salt', sans-serif;
  }

  div {
    width: 1px;
    height: 50px;
    background: var(--body-color);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  span:last-child {
    text-align: right;
  }

  @media (max-width: 768px) {
    margin-top: 3rem;
  }
}
