.container {
  max-width: 1480px;
  margin: 0 auto;

  @media (min-width: 0px) and (max-width: 1500px) {
    padding: 0 2rem;
  }

  .flex_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .col {
      display: flex;
      flex-direction: column;

      div:nth-child(1) {
        color: var(--gray-900);
        font-size: 0.875rem; // 14px
        text-transform: uppercase;
      }

      div:nth-child(2) {
        color: var(--gray-100);
        font-size: 2.5rem; // 40px
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .social {
      ul {
        list-style-type: none;

        li {
          font-size: 1rem;
          color: var(--gray-100);
          text-align: right;
          transition: color 0.2s ease;

          &:hover {
            color: var(--orange-500);
          }

          & + li {
            margin-top: 5px;
          }
        }
      }

      @media (max-width: 768px) {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        ul {
          display: flex;
          align-items: center;
          margin-top: 2rem;

          li + li {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;

    div:nth-child(1) {
      font-family: 'Rock Salt', sans-serif;
      font-size: 1rem;
      color: var(--gray-100);
    }

    hr {
      border-left: 1px solid var(--gray-100);
      height: 3.125rem; // 50px
    }

    div:last-child {
      font-size: 1rem;
      color: var(--gray-100);
      text-align: right;
    }
  }
}
